/***** user list/view/edit *****/
.panel-user-mod-assign-list .dataTables_scroll { border: 1px solid #ccc; border-width: 1px 0; }
.panel-user-mod-assign-list .dataTables_scrollHead { display: none; }
.panel-user-mod-assign-list .dataTable { border-width: 2px 3px; }
.panel-user-mod-assign-list thead { display: none; }
.panel-user-mod-assign-list td input[type=radio] { position: absolute; top: 3px; left: 5px; }
.panel-user-mod-assign-list td label { display: block; padding-left: 30px; }
.panel-user-mod-assign-list .item-unassigned { margin-top: 10px; padding-left: 8px; }

.tbl-user-agent td:nth-child(1) { width: 30px; }

.overlay-form .user-agent-wrapper { width: calc(50% - 50px); }
.overlay-form .user-agent-wrapper + .user-agent-wrapper { margin-left: 50px; }
.overlay-form .user-agent-wrapper [class*="list-"] { max-height: 300px; overflow-y: auto; margin: 10px 0; padding: 20px 0; border-top: 1px solid #ccc; }
.overlay-form .user-agent-wrapper .list-available table,
.overlay-form .user-agent-wrapper .list-available td { border: 0; background: none; }
.overlay-form .user-agent-wrapper .list-available thead { display: none; }
.overlay-form .user-agent-wrapper .list-available .dataTables_filter label::before {
  content: "\f002"; z-index: 1; position: absolute; display: block; top: 1px; left: 15px; font: normal normal normal 14px/1 FontAwesome;
}
.overlay-form .user-agent-wrapper .list-available .dataTables_filter input[type=search] { margin: 0 0 10px 5px; padding-left: 30px; }

@media screen and (max-width: 700px) {
  .overlay-form .user-agent-wrapper { width: 100%; }
  .overlay-form .user-agent-wrapper + .user-agent-wrapper { margin-top: 30px; margin-left: 0; }
  .overlay-form .user-agent-wrapper .list-available .dataTables_filter input[type=search] { margin-left: 0; }
}

/***** provier list/view/edit *****/
.tbl-provider-list th:nth-child(1) { width: 80px; }
.tbl-provider-list th:nth-child(2) { width: 100px; }
.tbl-provider-list th:nth-child(5),
.tbl-provider-list th:nth-child(6),
.tbl-provider-list th:nth-child(7),
.tbl-provider-list th:nth-child(8) { width: 120px; }
.tbl-provider-list th:nth-child(9) { width: 100px; }

.agent-ratio { font-size: 0; }
.agent-ratio .col-n { width: calc(50% - 10px); }
.agent-ratio .col-n input { width: 100%; }
.agent-ratio .col-n:nth-child(2) { width: 20px; text-align: center; font-size: 0.75rem; }


/***** predefined-service list/view/edit *****/
.tbl-svc-list { width: 600px; }
.tbl-svc-list tbody td { white-space: nowrap; }
.tbl-svc-list tr.parent td { font-weight: bold; }
.tbl-svc-list tr.parent td:nth-child(2) { color: #387ef5; font-weight: bold; }
.tbl-svc-list tr:not(.parent) td:nth-child(3) { padding-left: 20px; }
.tbl-svc-list th:nth-child(1) { width: 60px; }


 /***** leads: agency/manager list  *****/
.wrapper.lead-management .lead-control-account .ctrl-commission ul { margin-bottom: 10px; list-style: none; }
.wrapper.lead-management .lead-control-account .ctrl-commission li { margin-bottom: 5px; }
.wrapper.lead-management .lead-control-account .ctrl-commission li::aftter { content: ''; display: block; clear: both; height: 1px; }
.wrapper.lead-management .lead-control-account .ctrl-commission .btn-manager-primary { color: #ccc; }
.wrapper.lead-management .lead-control-account .ctrl-commission .btn-manager-primary:hover { color: #f00; }

#overlay-pane .overlay-list-frame.lead-list-manager,
 #overlay-pane .overlay-list-frame.lead-list-agency { min-height: 180px; max-height: calc(100% - 100px); }

 /***** leads: quote x products *****/
.overlay-lead-product .tbl-lead-prod-list thead th:nth-child(1) { width: 30px; }
.overlay-lead-product .tbl-lead-prod-list thead th:nth-child(2) { width: 120px; }
.overlay-lead-product .tbl-lead-prod-list thead th:nth-child(3) { width: 120px; }
.overlay-lead-product .tbl-lead-prod-list thead th:nth-child(4) { width: 150px; }
.overlay-lead-product .tbl-lead-prod-list thead th:nth-child(5),
.overlay-lead-product .tbl-lead-prod-list thead th:nth-child(6),
.overlay-lead-product .tbl-lead-prod-list thead th:nth-child(7) { width: 100px; }
.overlay-lead-product .tbl-lead-prod-list thead th:nth-child(8) { width: 60px; }
.overlay-lead-product .tbl-lead-prod-list thead th:nth-child(9) { width: 120px; }
.overlay-lead-product .tbl-lead-prod-list tbody td:nth-child(5) input,
.overlay-lead-product .tbl-lead-prod-list tbody td:nth-child(6) input,
.overlay-lead-product .tbl-lead-prod-list tbody td:nth-child(7) input { width: calc(100% - 30px); }
.overlay-lead-product .tbl-lead-prod-list.curr-accnt thead th:nth-child(5) { width: 100px; }
.overlay-lead-product .tbl-lead-prod-list.curr-accnt thead th:nth-child(6) { width: 60px; }
.overlay-lead-product .tbl-lead-prod-list.curr-accnt thead th:nth-child(7) { width: 120px; }
.overlay-lead-product .tbl-lead-prod-list.curr-accnt tbody td:nth-child(6) input { width: 100%; }

 /***** leads: commission rates *****/
#overlay-pane .frm-commission { overflow-x: auto; }
#overlay-pane .tbl-lead-commission { min-width: 100%; width: auto; }
#overlay-pane .tbl-lead-commission tr.title th,
 #overlay-pane .tbl-lead-commission tr > :nth-child(2n + 1) { border-right-width: 2px; }
#overlay-pane .tbl-lead-commission tr td:first-child { padding: 3px 5px; font-size: 12px; }
#overlay-pane .tbl-lead-commission thead th:first-child { min-width: 200px; width: 200px; }
#overlay-pane .tbl-lead-commission thead tr:first-child th { border-bottom-width: 1px; }
#overlay-pane .tbl-lead-commission thead tr + tr th { min-width: 82px; border-top-width: 1px; }
#overlay-pane .tbl-lead-commission tbody td { padding: 0; background: none !important; font-size: 0; }
#overlay-pane .tbl-lead-commission tbody td label { 
  display: inline-block; vertical-align: top;
  width: 30px; height: 29px; line-height: 29px; background: #eee; border-left: 1px solid #ccc;
  text-align: center; font-size: 12px;
}
#overlay-pane .tbl-lead-commission tbody td label:last-child { border-right: 0; }
#overlay-pane .tbl-lead-commission input { min-width: 50px; width: calc(100% - 30px); border: 0; border-radius: 0; text-align: right; }
#overlay-pane .tbl-lead-commission tbody.tbody-fill tr.btns td { padding: 5px 5px 20px; text-align: center; font-size: 12px; }
#overlay-pane .tbl-lead-commission tbody.tbody-fill tr.btns button { margin: 0; }


 /***** commission-accounts *****/
.tbl-comm-accnt-share { width: 800px; }
.tbl-comm-accnt-share thead th:nth-child(1) { width: 30px; }
.tbl-comm-accnt-share thead .btn-comm-assign { color: #333; line-height: 16px; }
.tbl-comm-accnt-share thead .btn-comm-assign:hover { color: #0054b0; }
.tbl-comm-accnt-share tbody td:nth-child(1) { text-align: center; }
.tbl-comm-accnt-share tbody td:nth-child(4), 
.tbl-comm-accnt-share tbody td:nth-child(5) { padding: 0; }
.tbl-comm-accnt-share tbody td:nth-child(4)::after, 
.tbl-comm-accnt-share tbody td:nth-child(5)::after {
  content: '%'; float: right; width: 30px; text-align: center; background: #eee; border-left: 1px solid #ccc; line-height: 29px; box-sizing: border-box;
}
.tbl-comm-accnt-share tbody td:nth-child(4) input, 
.tbl-comm-accnt-share tbody td:nth-child(5) input { min-width: auto; width: calc(100% - 30px); border: 0; }
.tbl-comm-accnt-share tr td { background: #fff !important; }
.tbl-comm-accnt-share tr:nth-child(2n) td { background: #f7f7f7 !important; }

.comm-accnt-address h3 { margin-bottom: 20px; }

.overlay-comm-accnt-prov h2 { margin-bottom: 10px; }
.overlay-comm-accnt-prov .tbl-accnt-provider-available { max-width: 600px; }
.overlay-comm-accnt-prov .tbl-accnt-provider-available thead th:first-child { width: 50px; }
.overlay-comm-accnt-prov .tbl-accnt-provider-available tbody td:first-child { text-align: center; }

.tbl-comm-accnt-prods thead th:nth-child(1) { width: 50px; }
.tbl-comm-accnt-prods thead th:nth-child(2),
 .tbl-comm-accnt-prods thead th:nth-child(3) { min-width: 120px; }
.tbl-comm-accnt-prods thead th:nth-child(4) { min-width: 180px; }
.tbl-comm-accnt-prods thead th:nth-child(5),
 .tbl-comm-accnt-prods thead th:nth-child(6),
 .tbl-comm-accnt-prods thead th:nth-child(7) { width: 100px; }
.tbl-comm-accnt-prods thead th:nth-child(8) { width: 50px; }
.tbl-comm-accnt-prods thead th:nth-child(9),
 .tbl-comm-accnt-prods thead th:nth-child(10) { width: 120px; }
.tbl-comm-accnt-prods thead .btn-prod-add { line-height: 16px; color: #333; }
.tbl-comm-accnt-prods thead .btn-prod-add:hover { color: #0054b0; }
.tbl-comm-accnt-prods .cell-input { padding: 0; }
.tbl-comm-accnt-prods .cell-input.commission::after { content: '%'; float: right; width: 16px; text-align: center; line-height: 23px; }
.tbl-comm-accnt-prods .cell-input.money::before { width: 16px; margin: 0; text-align: center; line-height: 23px; }
.tbl-comm-accnt-prods .cell-input input { min-width: auto; width: 100%; height: 23px; padding: 3px 5px; border: 0; background: none; }
.tbl-comm-accnt-prods .cell-input input:not([name="prod_memo[]"]) { text-align: right; }
.tbl-comm-accnt-prods .cell-input.commission input,
.tbl-comm-accnt-prods .cell-input.money input { width: calc(100% - 16px); }
.tbl-comm-accnt-prods .mrc-subtotal,
 .tbl-comm-accnt-prods .nrc-subtotal { text-align: right; }
.tbl-comm-accnt-prods .mrc-subtotal::before,
 .tbl-comm-accnt-prods .nrc-subtotal::before { content: '$'; float: left; margin: 0; }
.tbl-comm-accnt-prods .nrc .cell-input.commission input { display: none; }
.tbl-comm-accnt-prods .nrc .cell-input.commission::after { content: '-'; width: 100%; }
.tbl-comm-accnt-prods tfoot td { padding: 0 5px 0 0; vertical-align: middle; text-align: right; }
.tbl-comm-accnt-prods tfoot td:first-child { padding-right: 20px; }
.tbl-comm-accnt-prods tfoot td label { float: left; width: 30px; line-height: 30px; border-right: 1px solid #ccc; background: #eee; }
.tbl-comm-accnt-prods tfoot .cell-nrc,
 .tbl-comm-accnt-prods tfoot .cell-mrc { line-height: 30px; }
 
.overlay-container-change-wrapper.overlay-comm-accnt-share .container-change { height: calc(100% - 120px); }
.overlay-container-change-wrapper.overlay-comm-accnt-share .container-change h2 { margin-bottom: 10px; }
.overlay-container-change-wrapper.overlay-comm-accnt-share .container-change + .btn-group::before { 
  content: ''; display: block; width: calc(100% - 30px); height: 1px; margin: auto; border-top: 1px solid #ddd;
}
.overlay-container-change-wrapper.overlay-comm-accnt-share .container-change + .btn-group { margin: 20px 0 0; }
.overlay-container-change-wrapper.overlay-comm-accnt-share .container-change + .btn-group button { margin: 10px 0 0; }
.overlay-container-change-wrapper.overlay-comm-accnt-share .container-change + .btn-group::after { display: none; }
.overlay-container-change-wrapper .container-change.agency .list-comm-accnt-manager { display: none; }
.overlay-container-change-wrapper .container-change.manager .list-comm-accnt-agency { display: none; }
.overlay-container-change-wrapper.overlay-comm-accnt-share .container-change table { width: 500px; }
.overlay-container-change-wrapper.overlay-comm-accnt-share .container-change table thead th:first-child { width: 30px; }

.overlay-comm-accnt-prod .commission-rates { display: none; margin-top: 8px; }
.overlay-comm-accnt-prod input[name=mrc]:checked ~ .commission-rates { display: block; }

#overlay-pane .overlay-comm-accnt-prod .overlay-list-frame { min-height: auto; }

 /***** commission-accounts: view *****/
.panel-comm-accnt-view h2 .popup-base,
 .panel-comm-accnt-view h3 .popup-base { display: inline-block; margin-left: 5px; }
.panel-comm-accnt-view h2 .popup-base .md { line-height: 24px; }
.panel-comm-accnt-view h3 .popup-base .md { line-height: 20px; }
.panel-comm-accnt-view .tbl-comm-share { width: 800px; }
.panel-comm-accnt-view .tbl-comm-share thead th:nth-child(1),
 .panel-comm-accnt-view .tbl-comm-share thead th:nth-child(2) { min-width: 200px; }
.panel-comm-accnt-view .tbl-comm-share thead th:nth-child(3),
 .panel-comm-accnt-view .tbl-comm-share thead th:nth-child(4),
 .panel-comm-accnt-view .tbl-comm-share thead th:nth-child(5) { width: 120px; }
.panel-comm-accnt-view .tbl-comm-share td:nth-child(3),
 .panel-comm-accnt-view .tbl-comm-share td:nth-child(4),
 .panel-comm-accnt-view .tbl-comm-share td:nth-child(5) { text-align: right; }

.overlay-container-change-wrapper.overlay-comm-accnt-view-share h2 { margin-bottom: 10px; }
.overlay-container-change-wrapper.overlay-comm-accnt-view-share .container-change { height: auto; padding: 0; overflow: initial; }
.overlay-container-change-wrapper.overlay-comm-accnt-view-share .btn-group:last-child { margin: 0; }
.overlay-container-change-wrapper.overlay-comm-accnt-view-share .btn-group:last-child::after { display: none; }
.overlay-container-change-wrapper.overlay-comm-accnt-view-share .container-change table { width: 500px; }
.overlay-container-change-wrapper.overlay-comm-accnt-view-share .container-change table thead th:first-child { width: 30px; }

.overlay-comm-accnt-view-prov h2 { margin-bottom: 10px; }
.overlay-comm-accnt-view-prov .tbl-accnt-provider-available { width: 600px; margin-bottom: 10px; }
.overlay-comm-accnt-view-prov .tbl-accnt-provider-available thead th:first-child { width: 40px; }
.overlay-comm-accnt-view-prov .tbl-accnt-provider-available tbody td:first-child { padding: 0; text-align: center; }


@media screen and (max-width: 700px) {
  /*** provider list responsive table on mobile ***/
  .tbl-provider-list td:nth-child(1)::before { display: none; }
  .tbl-provider-list td:nth-child(1) { padding-left: 5px; }
  .tbl-provider-list td:nth-child(2)::before { content: 'Mod'; }
  .tbl-provider-list td:nth-child(3)::before { content: 'Name'; }
  .tbl-provider-list td:nth-child(4)::before { content: 'Address'; }
  .tbl-provider-list td:nth-child(5)::before { content: 'Tel'; }
  .tbl-provider-list td:nth-child(6)::before { content: 'Default Term'; }
  .tbl-provider-list td:nth-child(7)::before { content: 'Spiff'; }
  .tbl-provider-list td:nth-child(8)::before { content: 'Residual'; }
  .tbl-provider-list td:nth-child(9)::before { content: 'Status'; }

  .agent-ratio .col-n input { min-width: initial; }

  /*** predefined-service list responsive table on mobile ***/
  .tbl-svc-list td:nth-child(1)::before { display: none; }
  .tbl-svc-list td:nth-child(1) { padding-left: 5px; }
  .tbl-svc-list td:nth-child(2)::before { content: 'ID'; }
  .tbl-svc-list td:nth-child(3)::before { content: 'Parent Service'; }
  .tbl-svc-list td:nth-child(4)::before { content: 'Service Name'; }
}
