/***** leads *****/
.frm-lead-progress #selected-customer, .frm-lead-progress #selected-sales { padding: 10px; }

.panel-lead-sales .select-sales { height: 1px; opacity: 0; overflow: hidden; transition: opacity 0.3s; }
.panel-lead-sales input#r-refer-1:checked ~ .select-sales { opacity: 1; height: auto; }
.panel-lead-sales { padding-bottom: 80px; }
.panel-lead-sales .btn-group-lead-save { position: absolute; bottom: 10px; }


.overlay-lead-cust-change .lead-list-available,
 .overlay-lead-sales-change .lead-list-available { max-height: calc(100% - 100px); }

.overlay-lead-cust-change .lead-list-available #tbl-lead-customer-available_wrapper .dataTables_scroll,
 .overlay-lead-sales-change .lead-list-available #tbl-lead-sales-available_wrapper .dataTables_scroll { height: calc(100% - 70px); }
 .overlay-form .lead-list-available #tbl-lead-sales-available_wrapper th:nth-child(1) { min-width: 40px; width: 40px !important; }
.overlay-form .lead-list-available #tbl-lead-customer-available_wrapper th:nth-child(2),
 .overlay-form .lead-list-available #tbl-lead-sales-available_wrapper th:nth-child(2) { width: 55% !important; }
.overlay-form .lead-list-available #tbl-lead-customer-available_wrapper th:nth-child(3),
 .overlay-form .lead-list-available #tbl-lead-sales-available_wrapper th:nth-child(3) { min-width: 100px; width: 100px !important; }
.overlay-form .lead-list-available #tbl-lead-customer-available_wrapper th:nth-child(4),
 .overlay-form .lead-list-available #tbl-lead-sales-available_wrapper th:nth-child(4) { width: 45% !important; }

.overlay-lead-cust-change > .btn-group,
 .overlay-lead-sales-change > .btn-group { margin-top: 0; text-align: center; }
.overlay-lead-cust-change > .spacer-h, 
 .overlay-lead-sales-change > .spacer-h { border-width: 3px; }
.overlay-lead-cust-change > .container-change,
 .overlay-lead-sales-change > .container-change { height: calc(100% - 70px); overflow-y: auto; }
.overlay-lead-cust-change > .container-change .overlay-form,
 .overlay-lead-sales-change > .container-change .overlay-form { height: calc(100% - 10px); }
  
.overlay-form.overlay-lead-quote .lead-list-available { max-height: calc(100% - 150px); }

 /***** leads: quote x products *****/
.overlay-lead-product .tbl-lead-prod-list thead th:nth-child(1) { width: 30px; }
.overlay-lead-product .tbl-lead-prod-list thead th:nth-child(2) { width: 120px; }
.overlay-lead-product .tbl-lead-prod-list thead th:nth-child(3) { width: 120px; }
.overlay-lead-product .tbl-lead-prod-list thead th:nth-child(4) { width: 150px; }
.overlay-lead-product .tbl-lead-prod-list thead th:nth-child(5) { width: 80px; }
.overlay-lead-product .tbl-lead-prod-list thead th:nth-child(6) { width: 80px; }
.overlay-lead-product .tbl-lead-prod-list thead th:nth-child(7) { width: 100px; }
.overlay-lead-product .tbl-lead-prod-list thead th:nth-child(8) { width: 60px; }
.overlay-lead-product .tbl-lead-prod-list thead th:nth-child(9) { width: 120px; }
.overlay-lead-product .tbl-lead-prod-list input[name="price[]"],
 .overlay-lead-product .tbl-lead-prod-list input[name="spiff[]"],
 .overlay-lead-product .tbl-lead-prod-list input[name="resid[]"] { width: calc(100% - 30px); }
.overlay-lead-product .tbl-lead-prod-list input:read-only { background: #fff; }

@media screen and (max-width: 700px) {
  .panel-lead-sales { padding-bottom: 120px; }
  .overlay-form .lead-list-available .dataTables_scrollBody { border: 0; }
  .overlay-lead-cust-change > .container-cust-change { height: auto; overflow-y: initial; }
}